{% extends "base.html" %}

{% block content %}
<ol>
{% for link in object_list %}
    <li> [{{ link.votes }}]
    <a href="{{ link.url }}">
      <b>{{ link.title }}</b>
      <a href="{% url 'link_detail' pk=link.pk %}">Detail
    </a>
    </li>
{% endfor %}
</ol>
<blockquote style="background-color: #ddd; padding: 4px; border-radius: 10px; margin: 10px 0; color: #666; font-size: smaller; text-shadow: rgba(255,255,255,0.8) 1px 1px 0;">
{{ randomquip.comment|truncatechars:140 }}
</blockquote>
{% endblock %}
